//- simple
a(href='//google.com') Google
|
|
a(class='button' href='//google.com') Google
|
|
a(class='button', href='//google.com') Google

//- multiline
input(
  type='checkbox'
  name='agreement'
  checked
)

input(data-json=`
  {
    "very-long": "piece of ",
    "data": true
  }
`)